$navyblue: #05445E;
$bluegrotto: #189AB4;
$bluegreen: #75E6DA;
$babyblue: #D4F1F4;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
    gap: 50px;

    .outdoor {
      display: flex;
      align-self: center;
      background-image: url(../../assets/img/animals-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 300px;
      margin-bottom: -50px;
    }

    .welcome-container {
      display: flex;
      justify-content: center;
      background-color: $bluegreen;
      width: 100%;

      .welcome {
        width: 75%;
        text-align: center;
        color: $navyblue;

        h1 {
          font-size: 32px;
          font-weight: 600;
          font-family: 'Montserrat', sans-serif;
          margin-top: 30px;
        }

        h2 {
          font-size: 20px;
          margin-top: 50px;
          margin-bottom: 80px;
        }

        .text {
          text-align: left;
          font-size: 20px;
          font-weight: 500;
          color: $navyblue;
          font-family: 'Montserrat', sans-serif;
          margin-bottom: 25px;
        }
      }
    }



    .products {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 40px;
      max-width: 75%;
      flex-wrap: wrap;


      .card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 225px;
        height: 300px;
        padding: 20px;
        background-color: $babyblue;
        border: 0.5px solid #D1D2E3;
        box-sizing: border-box;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;

        h3 {
          font-weight: 500;
          color: $navyblue;
        }

        .card-image {

          img {
            width: 170px;
            height: 120px;
          }
        }

        .card-bottom {

          p {
            color: red;
            font-weight: 500;
            font-size: 18px;
          }

          .add-to-cart {
            all: unset;
            display: flex;
            text-decoration: underline;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            cursor: pointer;
            color: $navyblue;
            border: 1px solid $bluegrotto;
            background-color: $bluegreen;
            border-radius: 10px;
            width: 160px;
            height: 40px;

            img {
              width: 25px;
            }
          }

          .add-to-cart-disabled {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: no-drop;
            color: #fff;
            border: 1px solid $bluegrotto;
            background-color: rgb(223, 77, 77);
            border-radius: 10px;
            width: 160px;
            height: 40px;
            font-weight: 400;
          }
        }
      }
    }
  }
}