$navyblue: #05445E;
$bluegrotto: #189AB4;
$bluegreen: #75E6DA;
$babyblue: #D4F1F4;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    background-color: $navyblue;
    height: 100px;
    width: 100%;

    h2 {
      color: $bluegreen;
      font-size: 42px;
      margin-left: 100px;
    }

    .filter {
      position: relative;

      .filter-input {
        padding: 5px 30px;
        height: 40px;
        width: 500px;
        border: 0;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.2px;
        font-family: 'Montserrat', sans-serif;
        color: $bluegrotto;
      }

      .filter-input::placeholder {
        color: $bluegrotto;
        opacity: 1;
      }

      .filter-input:hover {
        background-color: $bluegreen;
        outline: 0;
      }

      .filter-input:focus {
        outline: 0.5px solid $navyblue;
        border: 0;
      }

      .filter-button {
        all: unset;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }

    .header-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      height: 100%;

      .cart {
        all: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        width: 60px;
        height: 60px;
        background-color: $babyblue;
        border: 0.5px solid $bluegreen;
        box-sizing: border-box;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;

        img {
          align-self: center;
          width: 30px;
          height: 30px;
        }
      }

      .cart:hover {
        background-color: $bluegreen;
      }

      .login {
        all: unset;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 120px;
        height: 60px;
        background-color: $babyblue;
        border: 0.5px solid $bluegreen;
        box-sizing: border-box;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;

        p {
          margin-left: 20px;
          font-weight: 500;
          color: $navyblue;
        }

        img {
          align-self: center;
          width: 50px;
          height: 32px;
        }
      }

      .login:hover {
        background-color: $bluegreen;
      }

      a {
        all: unset;
        cursor: pointer;
        margin-left: 10px;
      }

      .register {
        color: $babyblue;
        font-size: 16px;
        font-weight: 500;
      }

      .register:hover {
        color: $bluegreen;
        text-decoration: underline;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
    gap: 50px;

    .outdoor {
      display: flex;
      align-self: center;
      background-image: url(../../assets/img/animals-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 300px;
      margin-bottom: -50px;
    }

    .welcome-container {
      display: flex;
      justify-content: center;
      background-color: $bluegreen;
      width: 100%;

      .welcome {
        width: 75%;
        text-align: center;
        color: $navyblue;

        h1 {
          font-size: 32px;
          font-weight: 600;
          font-family: 'Montserrat', sans-serif;
          margin-top: 30px;
        }

        h2 {
          font-size: 20px;
          margin-top: 50px;
          margin-bottom: 80px;
        }

        .text {
          text-align: left;
          font-size: 20px;
          font-weight: 500;
          color: $navyblue;
          font-family: 'Montserrat', sans-serif;
          margin-bottom: 25px;
        }
      }
    }



    .products {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 40px;
      max-width: 75%;
      flex-wrap: wrap;


      .card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 225px;
        height: 300px;
        padding: 20px;
        background-color: $babyblue;
        border: 0.5px solid #D1D2E3;
        box-sizing: border-box;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;

        h3 {
          font-weight: 500;
          color: $navyblue;
        }

        .card-image {

          img {
            width: 170px;
            height: 120px;
          }
        }

        .card-bottom {

          p {
            color: red;
            font-weight: 500;
            font-size: 18px;
          }

          .add-to-cart {
            all: unset;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            cursor: pointer;
            color: $navyblue;
            border: 1px solid $bluegrotto;
            background-color: $bluegreen;
            border-radius: 10px;
            width: 160px;
            height: 40px;

            img {
              width: 25px;
            }
          }

          .add-to-cart-disabled {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            color: red;
            border: 1px solid $bluegrotto;
            background-color: $bluegreen;
            border-radius: 10px;
            width: 160px;
            height: 40px;
            font-weight: 500;

            img {
              width: 25px;
            }
          }
        }
      }
    }
  }
}