$navyblue: #05445E;
$bluegrotto: #189AB4;
$bluegreen: #75E6DA;
$babyblue: #D4F1F4;

.header {
  position: sticky;
  z-index: 113;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  background-color: $navyblue;
  height: 100px;
  width: 100%;

  h2 {
    color: $bluegreen;
    font-size: 42px;
    margin-left: 100px;
  }

  .filter {
    position: relative;

    .filter-input {
      padding: 5px 30px;
      height: 40px;
      width: 500px;
      border: 0;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.2px;
      font-family: 'Montserrat', sans-serif;
      color: $bluegrotto;
    }

    .filter-input::placeholder {
      color: $bluegrotto;
      opacity: 1;
    }

    .filter-input:hover {
      background-color: $bluegreen;
      outline: 0;
    }

    .filter-input:focus {
      outline: 0.5px solid $navyblue;
      border: 0;
    }

    .filter-button {
      all: unset;
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .header-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;

    .cart {
      all: unset;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;
      width: 60px;
      height: 60px;
      background-color: $babyblue;
      border: 0.5px solid $bluegreen;
      box-sizing: border-box;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;

      img {
        align-self: center;
        width: 30px;
        height: 30px;
      }
    }

    .cart:hover {
      background-color: $bluegreen;
    }

    .login {
      all: unset;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 120px;
      height: 60px;
      background-color: $babyblue;
      border: 0.5px solid $bluegreen;
      box-sizing: border-box;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;

      p {
        margin-left: 20px;
        font-weight: 500;
        color: $navyblue;
      }

      img {
        align-self: center;
        width: 50px;
        height: 32px;
      }
    }

    .login:hover {
      background-color: $bluegreen;
    }

    a {
      all: unset;
      cursor: pointer;
      margin-left: 10px;
    }

    .register {
      color: $babyblue;
      font-size: 16px;
      font-weight: 500;
    }

    .register:hover {
      color: $bluegreen;
      text-decoration: underline;
    }
  }
}

.cart-container {
  display: flex;
  position: absolute;
  right: 50px;
  top: 110px;

  .cart {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    border: 0.5px solid $navyblue;
    border-radius: 20px;
    padding: 40px;
    height: 600px;
    width: 500px;
    background-color: #fefefe;

    .cart-products {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 5px;
      width: 90%;
      height: 80%;

      .products {
        width: 100%;
        align-items: center;
        height: 70px;
        border-radius: 10px;
        background-color: rgb(24, 154, 180, 0.4);
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        font-size: 14px;

        .name {
          text-align: left;
        }

        .info {
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 3px;
        }
      }

      .checkout {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        button {
          all: unset;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $bluegreen;
          height: 60px;
          width: 120px;
          border-radius: 20px;
          background-color: $navyblue;
        }

        .clearCart {
          all: unset;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $navyblue;
          height: 60px;
          width: 120px;
          border-radius: 20px;
          background-color: #fefefe;
        }
      }
    }
  }
}